main {
  background-color: #f8f8f8;
  flex-grow: 1;
  padding: 2em;
  padding-top: 100px;
}
body{
  background-color: rgb(255, 255, 255);
  
}
main{
  border: #333 solid 3px;
  height: auto;
  display: flex;
  
  justify-content: center;
}
.contenido-seccion{
  width: 80%;
  background-color: #ffffff2c;
  padding: 20px;
  box-shadow: 0 0 10px rgba(71, 0, 0, 0.1);
}
.col{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    height: auto;    
    justify-content: end;
    align-items: center;
}
.fila{

  border-radius: 10px;

}
.fila img{
  width:100%;
}

.contact_form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 10px;
}

.contact_form img{
  width: 40%;
}

.contact_form h2 {
  text-align: center;
  margin-bottom: 30px;
}

.contact_form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact_form input,
.contact_form textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact_form button {
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;

}

.contact_form button:hover {
  background-color: #555;
}


